{% extends "base.html" %}

{% block title %}
    Home page
{% endblock %}
{% block header_options%}
 <div class="msger-header-options">
    <a href="{{ url_for('views.logout') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
 </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>Welcome to my Chat App</h1>
        <p>Join our chat server to chat with people from all around the world!</p>
        <hr>

        <a id="joinServer" href="{{ url_for('views.chat') }}" class="btn btn-lg btn-primary mb-3">
          Join Chat Server
        </a>

        <a href="{{ url_for('views.visualize') }}" class="btn btn-lg btn-success mb-3">
          Data Visualization
        </a>
        <br><br>
        <a href="https://github.com/Adebowale-Morakinyo/Chat_Web_App" target="_blank"><i class="fab fa-github"></i> View Source Code</a>
        <br><br>
        <a href="https://twitter.com/kidcode_dreamer" target="_blank"><i class="fab fa-twitter"></i> Follow me on Twitter</a>
      </div>
    </div>
  </div>
{% endblock %}
