{% extends 'base.html' %}
{% block title %}
    Chat Window
{% endblock %}

{% block header_options%}
 <div class="msger-header-options">
  <button id="leave-btn" class="nav-link"><i class="fas fa-sign-out-alt"></i> Leave</button>
</div>
{% endblock %}

{% block content %}

  <main id="messages" class="msger-chat">

  </main>

  <form id="msgForm" class="msger-inputarea">
    <input id="msg" type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn" id=sendBtn>Send</button>
  </form>

{% endblock %}
{% block script %}
{% endblock %}
