{% extends 'base.html' %}
{% block title %}
    Login page
{% endblock %}
{% block content %}
<main class="msger-chat">
    <form id="loginForm" class="row g-3" method="post">
        <div class="col-auto">
            <label for="staticName2" class="visually-hidden">Name</label>
            <input type="text" readonly class="form-control-plaintext" id="staticName2" value="Enter a username">
        </div>
        <div class="col-auto">
            <label for="inputName" class="visually-hidden">Username</label>
            <input type="text" class="form-control" name="username" id="inputName" placeholder="Username">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" id="connect">Submit</button>
        </div>
    </form>
</main>
{% endblock %}
{% block script %}
<!--<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>-->
{% endblock %}